[data-theme="evolight"] {
  color-scheme: light;
  --color-base-100: #ffffff;
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: #18181b;
  --color-primary: #2092e6;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #589e46;
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: #a0c754;
  --color-accent-content: oklch(27% 0.072 132.109);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: #e4e4e7;
  --color-info: #69b5ee;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #74b84d;
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: #ffd700;
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(66.1% 0.225 35.4);
  --color-error-content: oklch(26% 0.079 36.259);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

[data-theme="evolightness"] {
  color-scheme: light;
  --color-base-100: #ffffff;
  --color-base-200: oklch(92% 0.004 286.32);
  --color-base-300: oklch(100% 0 0);
  --color-base-content: oklch(14% 0.005 285.823);
  --color-primary: oklch(14% 0.005 285.823);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(14% 0.005 285.823);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(14% 0.005 285.823);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: #e4e4e7;
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(98% 0.002 247.839);
  --color-success: oklch(53% 0.157 131.589);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(14% 0.005 285.823);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

[data-theme="evodark"] {
  color-scheme: dark;
  --color-base-100: oklch(27% 0.006 286.033);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: hsl(240.1 11.4% 7.2%);
  --color-base-content: oklch(92% 0.004 286.32);
  --color-primary: #2092e6;
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: #589e46;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #a0c754;
  --color-accent-content: oklch(27% 0.072 132.109);
  --color-neutral: oklch(70% 0.015 286.067);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: #69b5ee;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #74b84d;
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: #ffd700;
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: #fe480d;
  --color-error-content: #421104;
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

[data-theme="evodarkness"] {
  color-scheme: dark;
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(23.5% 0.006 285.885);
  --color-base-300: oklch(14% 0.005 285.823);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(74% 0.16 232.661);
  --color-primary-content: oklch(14% 0.005 285.823);
  --color-secondary: oklch(98% 0 0);
  --color-secondary-content: oklch(14% 0.005 285.823);
  --color-accent: oklch(98% 0 0);
  --color-accent-content: oklch(14% 0.005 285.823);
  --color-neutral: oklch(98% 0 0);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(98% 0 0);
  --color-info-content: oklch(14% 0.005 285.823);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(14% 0.005 285.823);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(14% 0.005 285.823);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
